<html>
<body>

	<h1>Edit menu item</h1>

	<form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method='POST'>

		<p>Name:</p>
		<input type="text" name="name" placeholder="{{item.name}}" required>

		<p>Description:</p>
		
		<textarea rows="3" cols="80" name="description" placeholder="{{item.description}}" required></textarea>

		<p>Price:</p>
		<input type="text" name="price" placeholder="{{item.price}}" required>

		<p>Course:</p>
		<input type="checkbox" name="course" value="Appetizer"> Appetizer
		<br>
		<input type="checkbox" name="course" value="Entree"> Entree
		<br>
		<input type="checkbox" name="course" value="Dessert"> Dessert
		<br>
		<input type="checkbox" name="course" value="Beverage"> Beverage

		<br><br>
		<input type="submit" name="Create"><br>
		<a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>

</body>
</html>