<html>
<body>

	<h1>Create a new item</h1>

	<form action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" method='POST'>

		<p>Name:</p>
		<input type="text" name="name" required>

		<p>Description:</p>
		
		<textarea rows="3" cols="80" name="description" placeholder="Describe it here" required></textarea>

		<p>Price:</p>
		<input type="text" name="price" placeholder="$0.00" required>

		<p>Course:</p>
		<input type="checkbox" name="course" value="Appetizer"> Appetizer
		<br>
		<input type="checkbox" name="course" value="Entree"> Entree
		<br>
		<input type="checkbox" name="course" value="Dessert"> Dessert
		<br>
		<input type="checkbox" name="course" value="Beverage"> Beverage

		<br><br>
		<input type="submit" name="Create"><br>
		<a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">Cancel</a>

</body>
</html>